<div class="circuit-page">
  <div class="breadcrumbs">
    <%= link_to "Categorias", categories_path() %> / <%= link_to @category.name ,category_path(@category) %> / <a class="last-it <%="#{@category.short_name}-color"%>"> Circuitos</a>
  </div>
  <%= link_to("#", class: "fb-share-btn circuits-F-btn", :"data-name" => "Circuitos de la categoria #{@category.name}",
                                          :"data-caption" => "",
                                          :"data-link" => request.original_url,
                                          :"data-picture" => asset_url("logo.png"),
                                          :"data-description" => "Lista de circuitos donde se presenta la categoria #{@category.name}") do %>
    <%= image_tag 'publicarlo-en-fb.png', class: "btn-share", width: 100 %>
  <% end -%>
  <ul class="row circuit-list">
    <% @circuits.each do |circuit| %>
      <li class="col-sm-4 col-xs-12 link-to-circuit" style="width:32%;">
        <%= link_to show_circuit_path(@category.id, circuit.id), class: "link-to-circuit" do %>
          <div class="info-circuit <%="#{@category.short_name}-color"%>">
            <div class="hd">
              <h2><%= circuit.name %></h2>
              <p><%= circuit.location %></p>
            </div>
            <figure class="cont-circuit">
              <%= image_tag circuit.logo, width: 260  %>
            </figure>
          </div>
        <% end -%>
      </li><!-- /modulo info carrera -->
    <% end -%>
    <div class="clearfix visible-lg visible-md"></div>
  </ul>
</div>



<script type="text/javascript">
    $('.fb-share-btn').on( 'click', function(e) {
    e.preventDefault();
    info = $('.fb-share-btn');
    FB.ui( {
      method: 'feed',
      name: info.data("name"),
      link: info.data("link"),
      picture: info.data("picture"),
      description: info.data("description"),
      caption: info.data("caption")
    },
    function( response ) {
      if ( response !== null && typeof response.post_id !== 'undefined' ) {
        console.log( response );
        // ajax call to save response
        $.post( 'http://www.saltoautomovilclub.herokuapp.com/', { 'meta': response }, function( result ) {
          console.log( result );
        }, 'json' );
      }
    });
  });
</script>

<style type="text/css">
  .info-circuit.TPS-color .hd h2 {
    color: #d90000;
  }
  .info-circuit.FSAC-color .hd h2 {
    color: #ff5c26;
  }
  .info-circuit.K125-color .hd h2 {
    color: #ffbf00;
  }

  .info-circuit.TPS-color:hover {
    border: 1px solid #d90000;
  }
  .info-circuit.FSAC-color:hover {
    border: 1px solid #ff5c26;
  }
  .info-circuit.K125-color:hover {
    border: 1px solid #ffbf00;
  }

</style>
