<div class="circuit-show circuit-page">
  <div class="breadcrumbs">
    <a><%= @category.name %></a> / <a id="champ_type"> Circuitos</a> / <a> <%= @circuit.name %> </a>
  </div>
  <div class="info-circuit-show">
    <h2><%= @circuit.name %></h2>
    <p><%= @circuit.location %></p>
    <div class="mts">
      <%= @circuit.large %>
      <span>mts.</span>
    </div>
  </div>

  <div class="circuit-map">
    <%= image_tag @circuit.truck, width: 500 %>
  </div>

  <div class="como-llegar">
    <h3>Cómo llegar</h3>
    <br>
    <div class="map-container">
      <iframe frameborder="0" style="border:0" src=<%= @circuit.map_position %>></iframe>
    </div>
  </div><!-- /como-llegar -->

  <div class="circuit-desc">
    <h3>Características</h3>
    <div class="wrapper">
      <p></p><p><%= @circuit.description %></p><p></p>
    </div>
  </div>

  <div class="circuit-desc">
    <h3>Video del Circuito</h3>
    <div class="wrapper">
      <p></p>
    </div>
  </div>

  <div class="circuit-desc">
    <h3>Imágenes</h3>
    <div class="wrapper">
      <p></p>
    </div>
  </div>

</div>

