<div class="circuit-show circuit-page">
  <div class="breadcrumbs">
    <%= link_to "Categorias", categories_path() %> / <%= link_to @category.name ,category_path(@category) %> / <%= link_to "Circuitos", circuits_path(@category) %>/ <a class="last-it" > <%= @circuit.name %> </a>
  </div>
  <%= link_to("#", class: "fb-share-btn circuits-F-btn", :"data-name" => "Datos del circuito #{@circuit.name}",
                                          :"data-caption" => "Categoría #{@category.name}",
                                          :"data-link" => request.original_url,
                                          :"data-picture" => asset_url(@circuit.logo.url(:medium)),
                                          :"data-description" => "Datos y características del circuito #{@circuit.name} donde se prenseta la categoría #{@category.name}") do %>
    <%= image_tag 'publicarlo-en-fb.png', class: "btn-share", width: 100 %>
  <% end -%>
  <div class="info-circuit-show">
    <h2><%= @circuit.name %></h2>
    <p><%= @circuit.location %></p>
    <div class="mts">
      <%= @circuit.large %>
      <span>mts.</span>
    </div>
  </div>

  <div class="circuit-map">
    <%= image_tag @circuit.truck, width: 500 %>
  </div>

  <div class="como-llegar">
    <h3>Cómo llegar</h3>
    <br>
    <div class="map-container">
      <iframe frameborder="0" style="border:0" src=<%= @circuit.map_position %>></iframe>
    </div>
  </div><!-- /como-llegar -->

  <div class="circuit-desc">
    <h3>Características</h3>
    <div class="wrapper">
      <p></p><p><%= @circuit.description %></p><p></p>
    </div>
  </div>

  <div class="circuit-desc">
    <h3>Video del Circuito</h3>
    <div class="wrapper">
      <div class="video-cont">
        <% unless @circuit.video_url.blank? %>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @circuit.video_url %>" frameborder="0" allowfullscreen></iframe>
        <% end -%>
      </div>
    </div>
  </div>

  <div class="circuit-desc">
    <h3>Imágenes</h3>
    <div class="wrapper2">
      <ul class="circuit-images">
        <% @circuit.circuit_pictures.each do |picture| %>
          <%= link_to picture.picture.url, target: "_blank" do %>
            <li><%= image_tag picture.picture, height: 150, width:220 %></li>
          <% end -%>
        <% end -%>
      </ul>
    </div>
  </div>

</div>

<script type="text/javascript">
    $('.fb-share-btn').on( 'click', function(e) {
    e.preventDefault();
    info = $('.fb-share-btn');
    FB.ui( {
      method: 'feed',
      name: info.data("name"),
      link: info.data("link"),
      picture: info.data("picture"),
      description: info.data("description"),
      caption: info.data("caption")
    },
    function( response ) {
      if ( response !== null && typeof response.post_id !== 'undefined' ) {
        console.log( response );
        // ajax call to save response
        $.post( 'http://www.saltoautomovilclub.herokuapp.com/', { 'meta': response }, function( result ) {
          console.log( result );
        }, 'json' );
      }
    });
  });
</script>
