<div class="about-page">

	<div class="page-title">
		<h1>Salto Automovil Club</h1>
	</div>

	<div class="description-sac">
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</p>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</p>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
		</p>
		<%= link_to("#", class: "fb-share-btn", :"data-name" => "Salto Automovil Club", :"data-caption" => "Institucional", :"data-link" => request.original_url, :"data-picture" => asset_url("logo.png"), :"data-description" => "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fntaining Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum...." ) do %>
      <%= image_tag 'publicarlo-en-fb.png', class: "btn-share", width: 100 %>
    <% end -%>
	</div>

	<div class="directive">
    <div class="tit-1">
      <h3>Directiva</h3>
    </div>
    <ul class="directive-list">
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Presidente</h3>
					<h5>Sr. Carlos Lura  </h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Vicepresidente</h3>
					<h5>Sr. Teo Kazachuk  </h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Secretario</h3>
					<h5>Sr. Guillermo Barbat  </h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Tesorero</h3>
					<h5>Sr. Virgilio Favianes  </h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Protesorero</h3>
					<h5>Sr. José María Ubici</h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Prosecretario</h3>
					<h5>Sr. Roberto Barbat  </h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Vocal</h3>
					<h5>Sr. Raúl Omar Bottino</h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Vocal</h3>
					<h5>Sr. Carlos Bisio</h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Vocal</h3>
					<h5>Sr. Bernardo Agustín Zuchi</h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Comisión Fiscal</h3>
					<h5>Sr. Lorenzo Martínez</h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Comisión Fiscal</h3>
					<h5>Sr. Daniel Machiavello</h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Comisión Fiscal</h3>
					<h5>Sr. Ezio Menoni</h5>
				</div>
			</li>
  	</ul>
	</div>
	<div class="directive">
    <div class="tit-1">
      <h3>Comision de damas</h3>
    </div>
    <ul class="directive-list">
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Presidente</h3>
					<h5>Sr. Carlos Lura  </h5>
				</div>
			</li>

  	</ul>
	</div>
	<br class="clearBoth" />
</div>

<script type="text/javascript">
    $('.fb-share-btn').on( 'click', function(e) {
    e.preventDefault();
    info = $('.fb-share-btn');
    FB.ui( {
      method: 'feed',
      name: info.data("name"),
      link: info.data("link"),
      picture: info.data("picture"),
      description: info.data("description"),
      caption: info.data("caption")
    },
    function( response ) {
      if ( response !== null && typeof response.post_id !== 'undefined' ) {
        console.log( response );
        // ajax call to save response
        $.post( 'http://www.saltoautomovilclub.herokuapp.com/', { 'meta': response }, function( result ) {
          console.log( result );
        }, 'json' );
      }
    });
  });
</script>