<div class="about-page">

	<div class="page-title">
		<h1>Salto Automovil Club</h1>
	</div>

	<div class="description-sac">
		<p>Con 77 años de prolífica trayectoria, el Turismo Carretera recorre los autódromos de todo el país desplegando su particular y espectacular show deportivo, el cual convoca un promedio de 30.000 personas por carrera, provenientes de diferentes grupos geográficos y demográficos.
		</p>
		<p>Nuestro sentimiento por el Turismo Carretera es el mismo que el de las miles de familias argentinas, que concurren incondicionalmente a cada carrera, pudiendo así hacer nuestra labor con un compromiso diferente, como si lo viviéramos como un fanático más.
		</p>
		<p>El 5 de agosto cumplimos 78 años desde el primer Gran Premio de 1937 ganado por Angel Lo Valvo, que abrió la rica historia del Turismo Carretera, la categoría más antigua en actividad del mundo, tal cual lo certificó el Libro Guinnes de los Récords. Visitamos todas las provincias de la Argentina y hasta tuvimos el honor de llevar un Torino a la Antártida Argentina el 21 de septiembre de 2011 en un hecho histórico y marcado de plena Soberanía Nacional.
		</p>
		<p>Porque somos la más popular, la más convocante y la categoría más importante de Argentina es que seguimos marcando el camino a seguir. Siempre con trabajo, sacrificio y pensando en nuestro público que a través de siete décadas nos sigue acompañando. A todos los fanáticos del Turismo Carretera muchas gracias.</p>
	</div>

	<div class="directive">
    <div class="tit-1">
      <h3>Directiva</h3>
    </div>
    <ul class="directive-list">
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Presidente</h3>
					<h5>Sr. Carlos Lura  </h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Vicepresidente</h3>
					<h5>Sr. Teo Kazachuk  </h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Secretario</h3>
					<h5>Sr. Guillermo Barbat  </h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Tesorero</h3>
					<h5>Sr. Virgilio Favianes  </h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Protesorero</h3>
					<h5>Sr. José María Ubici</h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Prosecretario</h3>
					<h5>Sr. Roberto Barbat  </h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Vocal</h3>
					<h5>Sr. Raúl Omar Bottino</h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Vocal</h3>
					<h5>Sr. Carlos Bisio</h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Vocal</h3>
					<h5>Sr. Bernardo Agustín Zuchi</h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Comisión Fiscal</h3>
					<h5>Sr. Lorenzo Martínez</h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Comisión Fiscal</h3>
					<h5>Sr. Daniel Machiavello</h5>
				</div>
			</li>
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Comisión Fiscal</h3>
					<h5>Sr. Ezio Menoni</h5>
				</div>
			</li>
  	</ul>
	</div>
	<div class="directive">
    <div class="tit-1">
      <h3>Comision de damas</h3>
    </div>
    <ul class="directive-list">
			<li class="profile-direct">
				<%= image_tag 'default_profile.png' %>
				<div class="text-prof">
					<h3>Presidente</h3>
					<h5>Sr. Carlos Lura  </h5>
				</div>
			</li>

  	</ul>
	</div>
	<br class="clearBoth" />
</div>