<div class="news-page">
	<div class="page-title">
		<h1>Noticias</h1>
	</div>
	<% @notices.each_with_index do |notice,i| %>
		<div class="news-panel <%= "left-img" if !i.even? %>">
			<%= image_tag notice.photo(:medium), width: 200 %>
			<%= link_to notice_path(notice) do %>
				<h3><%= notice.title %></h3>
			<% end -%>
			<span><%= l(notice.created_at, :format => :short) %></span>
			<p> <%= truncate(notice.context, length: 544) { link_to "más" , notice_path(notice) } %></p>
		</div>
	<% end -%>
	<div class="apple_pagination">
    <%= will_paginate @notices, :container => false %>
  </div>
</div>