<div class="news-page">
	<h1>Noticias</h1>
	<% 6.times.each do |d| %>
		<div class="news-panel">
			<%= image_tag 'logo.png', width: 200 %>
			<%= link_to "#" do %>
				<h3>Titulo noticia</h3>
			<% end -%>
			<span> Agosto 10, 2014 </span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel magna at libero feugiat pharetra ut vitae eros. Cras nec diam sed neque fermentum auctor. Ut sit amet elementum purus. Quisque volutpat erat vitae mauris tincidunt, eu fermentum eros porta. Sed vestibulum pretium erat non porttitor. Duis iaculis nibh auctor augue imperdiet, vitae mollis libero Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel magna at libero feugiat pharetra ut vitae eros. Cras nec diam sed neque fermentum auctor. Ut sit amet elementum purus <%= link_to "[…]" , "#" %></p>
		</div>
		<div class="news-panel left-img">
			<%= image_tag 'logo.png', width: 200 %>
			<%= link_to "#" do %>
				<h3>Titulo noticia</h3>
			<% end -%>
			<span> Agosto 10, 2014 </span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel magna at libero feugiat pharetra ut vitae eros. Cras nec diam sed neque fermentum auctor. Ut sit amet elementum purus. Quisque volutpat erat vitae mauris tincidunt, eu fermentum eros porta. Sed vestibulum pretium erat non porttitor. Duis iaculis nibh auctor augue imperdiet, vitae mollis libero Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel magna at libero feugiat pharetra ut vitae eros. Cras nec diam sed neque fermentum auctor. Ut sit amet elementum purus <%= link_to "[…]" , "#" %> </p>
		</div>
	<% end -%>
</div>