<div class="news-page">
	<h1><%= @notice.title %></h1>
	<div class="news-panel">
		<%= image_tag @notice.photo(:original), width: 500 %>
		<span><%= l(@notice.created_at, :format => :short) %></span>
		<p><%= @notice.context %></p>
    <%= link_to('Share on Facebook', "https://www.facebook.com/dialog/feed?
                                      app_id=131568497179574
                                      &display=popup&caption=#{@notice.title}
                                      &link=#{request.original_url}
                                      &redirect_uri=#{request.original_url}",:target => :blank) %>
  </div>
</div>