<div class="news-page">
  <div class="breadcrumbs">
    <%= link_to "Noticias", news_path() %> /  <a class="last-it" > <%= @notice.title %> </a>
  </div>
  <%= link_to("#", class: "fb-share-btn notice-F-btn", :"data-name" => @notice.title, :"data-caption" => l(@notice.created_at, :format => :short), :"data-link" => request.original_url, :"data-picture" => asset_url(@notice.photo.url(:medium)), :"data-description" => truncate(@notice.context, length: 544) ) do %>
    <%= image_tag 'publicarlo-en-fb.png', class: "btn-share", width: 100 %>
  <% end -%>
  <div class="page-title">
   <h1><%= @notice.title %></h1>
  </div>
  <div class="notice-panel">
    <%= image_tag @notice.photo(:original), width: 500 %>
    <span><%= l(@notice.created_at, :format => :short) %></span>
    <p><%= @notice.context %></p>
    <br></br>
  </div>
  <br>
</div>
<script type="text/javascript">
    $('.fb-share-btn').on( 'click', function(e) {
    e.preventDefault();
    info = $('.fb-share-btn');
    FB.ui( {
      method: 'feed',
      name: info.data("name"),
      link: info.data("link"),
      picture: info.data("picture"),
      description: info.data("description"),
      caption: info.data("caption")
    },
    function( response ) {
      if ( response !== null && typeof response.post_id !== 'undefined' ) {
        console.log( response );
        // ajax call to save response
        $.post( 'http://www.saltoautomovilclub.herokuapp.com/', { 'meta': response }, function( result ) {
          console.log( result );
        }, 'json' );
      }
    });
  });
</script>