<div class="table-responsive generic-tbl championship-tbl <%="#{@actual_championship.category.short_name}-color"%>">
  <!-- tabla tcp -->
  <table class="table campeonato-x-anio" id="table-hidden-content">
    <thead>
      <tr>
        <th style="border-right:1px solid white">Año</th>
        <th>Primero</th>
        <th style="border-right:1px solid white">Auto</th>
        <th>Segundo</th>
        <th style="border-right:1px solid white">Auto</th>
        <th>Tercero</th>
        <th>Auto</th>
      </tr>
    </thead>
    <tbody>
      <% @championships.each_with_index do |ch, i|%>
        <tr>
          <td class="pos"><%= ch.year %></td>
          <td class="piloto first"><%= ch.one %> </td>
          <td class="piloto first" style="border-right:1px solid #ddd"><%= ch.one.car %></td>
          <td class="piloto first"><%= ch.two %></td>
          <td class="piloto first" style="border-right:1px solid #ddd"><%= ch.two.car %></td>
          <td class="piloto first"><%= ch.three %></td>
          <td class="piloto first"><%= ch.three.car %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <a id="back-btn " class="champion-for-year <%="#{@actual_championship.category.short_name}-color"%>" href="/categorias/<%= @actual_championship.category_id %>/campeonatos">
    <strong>Atras</strong>
  </a>
  <br class="clearBoth" />
</div>
