<div class="table-responsive generic-tbl championship-tbl">
  <!-- tabla tcp -->
  <table class="table campeonato-x-anio" id="table-hidden-content">
    <thead>
      <tr>
        <th>Ord.</th>
        <th>Año</th>
        <th>Primero</th>
        <th>Auto</th>
        <th>Segundo</th>
        <th>Auto</th>
        <th>Tercero</th>
        <th>Auto</th>
      </tr>
    </thead>
    <tbody>
      <% @championships.each_with_index do |ch, i|%>
        <tr>
          <td class="pos"><%= i+1 %><span>°</span></td>
          <td><%= ch.year %> </td>
          <td class="piloto first"><%= ch.one %> </td>
          <td class="piloto first"><%= ch.one.car %></td>
          <td class="piloto first"><%= ch.two %></td>
          <td class="piloto first"><%= ch.two.car %></td>
          <td class="piloto first"><%= ch.three %></td>
          <td class="piloto first"><%= ch.three.car %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
  <a id="back-btn" class="champion-for-year" href="/categorias/<%= @actual_championship.category_id %>/campeonatos">
    <strong>Atras</strong>
  </a>
  <br class="clearBoth" />
</div>