<%= link_to("#", class: "fb-share-btn next-race-F-btn", :"data-name" => "Próxima fecha  #{@race.date} - #{@category.name}" ,
                                            :"data-caption" => "",
                                            :"data-link" => request.original_url,
                                            :"data-picture" => asset_url(@race.race_previus.picture),
                                            :"data-description" => "Próxima fecha #{@category.name} en #{@race.city}" ) do %>
      <%= image_tag 'publicarlo-en-fb.png', class: "btn-share", width: 100 %>
<% end -%>
<div class="photo-race">
  <%= image_tag @race.race_previus.picture, width: 400 %>
</div>
<div class="race-profile">
  <div class="tit-1">
    <h3>Datos de la fecha</h3>
  </div>
  <div class="list-item-race">
    <div class="data-race">
      <ul>
        <li><span>Fecha</span><strong><%= @race.date %></strong></li>
        <li><span>Ciudad</span><strong><%= @race.city %></strong></li>
        <li><span>Circuito</span><strong><%= @race.circuit %></strong></li>
      </ul>
    </div>
  </div>
  <div class="circuit-drow">
    <%= image_tag @race.circuit.truck, width: 400 %>
  </div>
  <br class="clearBoth" />
</div>

<div class="enter">
  <div class="tit-1">
    <h3>Entradas</h3>
  </div>
  <div class="md-latest-news">
    <ul>
      <li><a>Entrada General: $<%= @race.race_previus.ticket %>.</a></li>
      <li><a>Ingreso a Boxes: $<%= @race.race_previus.box_ticket %>. </a></li>
      <li><a>Mayores de 65 años y Menores de 12 años Gratis. </a></li>
    </ul>
  </div>
</div>

<div class="como-llegar">
  <h3>Cómo llegar</h3>
  <br>
  <div class="map-container">
    <iframe frameborder="0" style="border:0" src=<%= @race.circuit.map_position %>></iframe>
  </div>
</div><!-- /como-llegar -->

<div class="crono">
  <div class="tit-1">
    <h3>Cronograma</h3>
  </div>
  <%= @race.race_previus.crono.html_safe %>
</div>
<script type="text/javascript">
  $('.fb-share-btn').on( 'click', function(e) {
    e.preventDefault();
    info = $('.fb-share-btn');
    FB.ui( {
      method: 'feed',
      name: info.data("name"),
      link: info.data("link"),
      picture: info.data("picture"),
      description: info.data("description"),
      caption: info.data("caption")
    },
    function( response ) {
      if ( response !== null && typeof response.post_id !== 'undefined' ) {
        console.log( response );
        // ajax call to save response
        $.post( 'http://www.saltoautomovilclub.herokuapp.com/', { 'meta': response }, function( result ) {
          console.log( result );
        }, 'json' );
      }
    });
  });

</script>
