<%= link_to("#", class: "fb-share-btn rece-done-F-btn", :"data-name" => "Resultado de la fecha #{@race.date}  - #{@category.name}" ,
                                            :"data-caption" => "",
                                            :"data-link" => request.original_url,
                                            :"data-picture" => asset_url(@category.logo.url(:medium)),
                                            :"data-description" => "Resutlado de la cateogría #{@category.name}" ) do %>
      <%= image_tag 'publicarlo-en-fb.png', class: "btn-share", width: 100 %>
<% end -%>
<br class="clearBoth" />
<div class="race-feature" id="race-feature">
  <div class="en-carrera en-carrera-2">
    <div class="row no-margin">
      <div class="col-lg-4 col-md-4 col-xs-12 micol-1">
        <div class="row row-podio">
          <div class="volanta clearfix <%="#{@category.short_name}-color"%>">
            <div class="category">
              <p>  <%= @category.short_name%> </p>
            </div>
            <div class="date">
              <p>
                <%= @race.date.day %>.
                <%= @race.date.month %>.
                <%= @race.date.year.to_s.last(2) %>
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="venue <%="#{@category.short_name}-color"%>">
              <h2><%= @race.name %></h2>
              <h4><%= @race.city %></h4>
              <%= link_to show_circuit_path(@category.id, @race.circuit.id) do %>
                <%= @race.circuit %>
                <%= image_tag @race.circuit.logo, width: 100 %>
              <% end -%>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-xs-12 micol-2 no-padding">
        <div class="podio clearfix pull-right <%="#{@category.short_name}-color"%>">

          <div class="podio-wrapper pos-2">
            <div class="cont-img hidden-xs">
              <div class="piloto">
                <%= image_tag @race.race_results[1].pilot.avatar  %>
              </div>
            </div>
            <div class="info-wrapper clearfix">
              <div class="pos">2°</div>
              <div class="name">
                <%= @race.race_results[1].pilot.last_name %>,<br> <%= @race.race_results[1].pilot.first_name %>
              </div>
            </div>
          </div>

          <div class="podio-wrapper pos-1">
            <div class="cont-img hidden-xs">
              <div class="piloto">
                <%= image_tag @race.race_results[0].pilot.avatar  %>
              </div>
            </div>
            <div class="info-wrapper clearfix">
              <div class="pos">1°</div>
              <div class="name">
                <%= @race.race_results[0].pilot.last_name %> ,<br> <%= @race.race_results[0].pilot.first_name %>
              </div>
            </div>
          </div>

          <div class="podio-wrapper pos-3">
            <div class="cont-img hidden-xs">
              <div class="piloto">
                <%= image_tag @race.race_results[2].pilot.avatar  %>
              </div>
            </div>
            <div class="info-wrapper clearfix">
              <div class="pos">3°</div>
              <div class="name">
                <%= @race.race_results[2].pilot.last_name %> , <br><%= @race.race_results[2].pilot.first_name %>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div><!-- /en-carrera (podio) -->
</div>
<div class="table-responsive generic-tbl results-tbl <%="#{@category.short_name}-color"%>">
  <div class="tabel-title-final-con">
    <div class="tabel-title-final">
      <%= image_tag "bandera-a-cuadros.png"  %>
      <strong>Resultado Final</strong>
    </div>
    <!--<div class="export-file">
      <strong>Exportar:</strong>
      <a href="" target="blank_" class="btn-grey-xsmall">XLS</a>
      <a href="" target="blank_" class="btn-grey-xsmall">PDF</a>
    </div>-->
  </div>
  <br class="clearBoth" />
  <div class="carrera-on-line-verificado">
    Verificado por Técnica: <%= image_tag "on_aprobacion.png"  %>
    Verificado por Deportiva: <%= image_tag "on_aprobacion.png"  %>
  </div>
  <div class="table-responsive generic-tbl championship-tbl panels-table final-table">
    <table class="table2" id="table-hidden-content">
      <thead>
        <tr>
          <th style="text-align:center" > POS.      </th>
          <th style="text-align:center" > NÚMERO    </th>
          <th style="text-align:center" > PILOTO    </th>
          <% @race.steps.each do |step|%>
            <th style="text-align:center" ><%= step.name %></th>
          <% end -%>
          <th style="text-align:center" > PTOS.    </th>
        </tr>
      </thead>
      <tbody>
        <% @race.race_results.each do |race_result| %>
          <tr bgcolor="">
            <td class="pos" style="text-align:center"><%= race_result.position %><span>°</span></td>
            <td style="text-align:center"><%= race_result.pilot_race.number %></td>
            <td class="piloto first" >
              <%= link_to "#{ race_result.pilot_race.pilot } ", pilot_path(@category.id, race_result.pilot_race.pilot.id) %>
            </td>
            <% @race.steps.each do |step|%>
              <% pist = step.pilot_steps.where(pilot_race_id: race_result.pilot_race.id).first %>
              <% unless pist.blank? %>
                <td style="text-align:center"><%= pist.score %></td>
              <% else %>
                <td style="text-align:center" > 0 </td>
              <% end -%>
            <% end -%>
            <td class="pts" style="text-align:center" > <%= race_result.score %> </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
  <% unless @race.observation.blank? %>
    <div class="incidences">
      <strong>Observaciones</strong>
      <p> <%= @race.observation %> </p>
    </div><!-- /incidencias -->
  <% end -%>
  <div class="panel-body">
    <div class="table-responsive generic-tbl championship-tbl panels-table">
      <table class="table2" id="table-hidden-content">
        <thead>
          <tr>
            <th > POS.   </th>
            <th> NÚMERO </th>
            <th> PILOTO </th>
            <th> TIEMPO </th>
            <th> PUNTOS </th>
          </tr>
        </thead>
        <tbody>
          <% @race.steps.each do |step|%>
            <tr><td style="text-align:center;color:#fff;background:#aaa;" colspan="5"><%= step.name %></td></tr>
            <% step.pilot_steps.each do |ps|%>
              <tr bgcolor="">
                <td class="pos"><%= ps.position %><span>°</span></td>
                <td><%= ps.pilot_race.number %></td>
                <td class="piloto first">
                   <%= link_to "#{ ps.pilot_race.pilot } ", pilot_path(@category.id, ps.pilot_race.pilot.id) %>
                  <a href="#">  </a>
                </td>
                <td> <%= ps.time %>      </td>
                <td class="pts"> <%= ps.score %> </td>
              </tr>
            <% end -%>
            <% unless step.observation.blank? %>
              <tr><td style="color:#e52b2b;font-size:20px;" colspan="5">OBS: <%= step.observation %></td></tr>
            <% end -%>
          <% end -%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.fb-share-btn').on( 'click', function(e) {
    e.preventDefault();
    info = $('.fb-share-btn');
    FB.ui( {
      method: 'feed',
      name: info.data("name"),
      link: info.data("link"),
      picture: info.data("picture"),
      description: info.data("description"),
      caption: info.data("caption")
    },
    function( response ) {
      if ( response !== null && typeof response.post_id !== 'undefined' ) {
        console.log( response );
        // ajax call to save response
        $.post( 'http://www.saltoautomovilclub.herokuapp.com/', { 'meta': response }, function( result ) {
          console.log( result );
        }, 'json' );
      }
    });
  });

</script>


<style type="text/css">
.race-feature .volanta.TPS-color .category  p {
  color: #fff;
  float: left;
  font-family: "bebasneue_regular";
  font-size: 32px;
  line-height: 1.45;
  margin: 4px 0 -1px -3px;
  text-align: center;
  width: 84px;
}
.race-feature .volanta.TPS-color .date  p {
  color: black;
  font-size: 32px;
  line-height: 1.45;
  margin: 4px 0 -1px 20px;
  text-align: center;
  width: 84px;
}

.race-feature .volanta.FSAC-color .category  p {
  color: #fff;
  float: left;
  font-family: "bebasneue_regular";
  font-size: 32px;
  line-height: 1.45;
  margin: 4px 0 -1px -3px;
  text-align: center;
  width: 84px;
}
.race-feature .volanta.FSAC-color .date  p {
  color: black;
  font-size: 32px;
  line-height: 1.45;
  margin: 4px 0 -1px 20px;
  text-align: center;
  width: 84px;
}

.race-feature .volanta.K125-color .category  p {
  color: #fff;
  float: left;
  font-family: "bebasneue_regular";
  font-size: 32px;
  line-height: 1.45;
  margin: 4px 0 -1px -3px;
  text-align: center;
  width: 84px;
}
.race-feature .volanta.K125-color .date  p {
  color: black;
  font-size: 32px;
  line-height: 1.45;
  margin: 4px 0 -1px 20px;
  text-align: center;
  width: 84px;
}

.race-feature .volanta.TPS-color .category {
  background: rgba(0, 0, 0, 0) url("/assets/sprites-buttons.png") no-repeat scroll 0 -139px;
}
.race-feature .volanta.FSAC-color .category {
  background: rgba(0, 0, 0, 0) url("/assets/sprites-buttons.png") no-repeat scroll 0 -1023px;
}
.race-feature .volanta.K125-color .category {
  background: rgba(0, 0, 0, 0) url("/assets/sprites-buttons.png") no-repeat scroll 0 -2563px;
}

.race-feature .venue.TPS-color h4 {
  color: #d90000;
}
.race-feature .venue.FSAC-color h4 {
  color: #ff5c26;
}
.race-feature .venue.K125-color h4 {
  color: #ffbf00;
}

.race-feature .venue.TPS-color a {
  color: #d90000;
}
.race-feature .venue.FSAC-color a {
  color: #ff5c26;
}
.race-feature .venue.K125-color a {
  color: #ffbf00;
}


.podio.TPS-color .podio-wrapper.pos-1 .info-wrapper {
  background: #d90000 url("/assets/sprites-buttons.png") no-repeat scroll 0 -619px;
}
.podio.TPS-color .podio-wrapper.pos-2 .info-wrapper {
  background: #d90000 url("/assets/sprites-buttons.png") no-repeat scroll 0 -522px;
}
.podio.TPS-color .podio-wrapper.pos-3 .info-wrapper {
  background: #d90000 url("/assets/sprites-buttons.png") no-repeat scroll 0 -746px;
}

.podio.FSAC-color .podio-wrapper.pos-1 .info-wrapper {
  background: #ff5c26 url("/assets/sprites-buttons.png") no-repeat scroll 0 -1472px;
}
.podio.FSAC-color .podio-wrapper.pos-2 .info-wrapper {
  background: #ff5c26 url("/assets/sprites-buttons.png") no-repeat scroll 0 -1377px;
}
.podio.FSAC-color .podio-wrapper.pos-3 .info-wrapper {
  background: #ff5c26 url("/assets/sprites-buttons.png") no-repeat scroll 0 -1595px;
}

.podio.K125-color .podio-wrapper.pos-1 .info-wrapper {
  background: #ffbf00 url("/assets/sprites-buttons.png") no-repeat scroll 0 -3012px;
}
.podio.K125-color .podio-wrapper.pos-2 .info-wrapper {
  background: #ffbf00 url("/assets/sprites-buttons.png") no-repeat scroll 0 -2917px;
}
.podio.K125-color .podio-wrapper.pos-3 .info-wrapper {
  background: #ffbf00 url("/assets/sprites-buttons.png") no-repeat scroll 0 -3135px;
}

.generic-tbl.TPS-color .pts {
  background: rgba(0, 0, 0, 0) url("/assets/sprites-buttons.png") no-repeat scroll 0 -921px;
}
.generic-tbl.FSAC-color .pts {
  background: rgba(0, 0, 0, 0) url("/assets/sprites-buttons.png") no-repeat scroll 0 -1681px;
}
.generic-tbl.K125-color .pts {
  background: rgba(0, 0, 0, 0) url("/assets/sprites-buttons.png") no-repeat scroll 0 -3221px;
}

</style>
