<div class="categories-pages">
  <h1><%= "#{@championship.year} - #{@championship.name}" %></h1>
  <div class="tables-container">
    <table class="table">
      <thead>
        <tr>
          <th> Pos.      </th>
          <th> #         </th>
          <th> Piloto    </th>
          <th> Localidad </th>
          <th> Equipo    </th>
          <th> Auto      </th>
          <th> Puntos    </th>
        </tr>
      </thead>
      <tbody>
        <% @championship.championship_data.each_with_index do |result, i|%>
          <tr>
            <td> <%= i + 1 %>°           </td>
            <td> <%= result.number %>    </td>
            <td> <%= result.full_name %> </td>
            <td> <%= result.city %>      </td>
            <td> <%= result.team %>      </td>
            <td> <%= result.car %>       </td>
            <td> <%= result.score %>     </td>
          </tr>
        <% end -%>
      </tbody>
    </table>
    <h3>Detalles por fecha</h3>
    <div class="panel-group" id="accordion">
      <% @championship.races.each_with_index do |race, i|%>
        <div class="panel panel-default">
          <div class="panel-blk panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=i%>">
                <%= "Fecha N°#{i+1} - #{race.date} - #{race.city} - #{race.name} " %>
              </a>
            </h4>
          </div>
           <div id="collapse<%=i%>" class="panel-collapse collapse">
            <div class="panel-body">
              <table class="table table-condensed small-table">
                <thead>
                  <tr>
                    <th> Posición </th>
                    <th> #        </th>
                    <th> Piloto   </th>
                    <th> Tiempo   </th>
                    <th> Puntos   </th>
                  </tr>
                </thead>
                <tbody>
                  <% race.steps.each do |step|%>
                    <tr><td style="text-align:center" colspan="5"><%= step.name %></td></tr>
                    <% step.pilot_steps.each do |ps|%>
                      <tr>
                        <td><%= ps.position%>°          </td>
                        <td><%= ps.pilot_race.number %> </td>
                        <td><%= ps.pilot_race.pilot %>  </td>
                        <td><%= ps.time %>              </td>
                        <td><%= ps.score %>             </td>
                      </tr>
                    <% end -%>
                    <% unless step.observation.blank? %>
                      <tr><td style="color:red;font-size:10px;" colspan="5">OBS: <%= step.observation %></td></tr>
                    <% end -%>
                  <% end -%>
                </tbody>
              </table>
              <table class="table table-condensed">
                <thead>
                <tr><td style="text-align:center" colspan="7"><h4>Clasificación Final</h4></td></tr>
                  <tr>
                    <th>Pos.</th>
                    <th>#</th>
                    <th>Piloto</th>
                    <% race.steps.each do |step|%>
                      <th><%= step.name %></th>
                    <% end -%>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <% race.race_results.each do |race_result| %>
                    <tr>
                      <td><%= "#{race_result.position}" %>°</td>
                      <td><%= "#{race_result.pilot_race.number}" %></td>
                      <td><%= "#{race_result.pilot_race.pilot}" %></td>
                      <% race.steps.each do |step|%>
                        <% pist = step.pilot_steps.where(pilot_race_id: race_result.pilot_race.id).first %>
                        <% unless pist.blank? %>
                          <td><%= pist.score %></td>
                        <% else %>
                          <td> 0 </td>
                        <% end -%>
                      <% end -%>
                      <td><%= race_result.score %></td>
                    </tr>
                  <% end -%>
                </tbody>
                <% unless race.observation.blank? %>
                  <tr><td style="color:red;font-size:10px;" colspan="7">OBS: <%= race.observation %></td></tr>
                <% end -%>
              </table>
            </div>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
</div>