<div class="categories-pages">
  <div class="breadcrumbs">
    <%= link_to "Categorias", categories_path() %> / <%= link_to @category.name ,category_path(@category) %> / <%= link_to "Pilotos", category_pilots_path(@category) %> / <a class="last-it"><%= @pilot.full_name %></a>
  </div>
  <%= link_to("#", class: "fb-share-btn one-pilot-F-btn", :"data-name" => @pilot.full_name,
                                          :"data-caption" => "Piloto de la categoria #{@category.name}",
                                          :"data-link" => request.original_url,
                                          :"data-picture" => asset_url(@pilot.complete_pic.url(:medium)),
                                          :"data-description" => "Datos del piloto #{@pilot.full_name} perteneciente a la categoria #{@category.name}") do %>
    <%= image_tag 'publicarlo-en-fb.png', class: "btn-share", width: 100 %>
  <% end -%>
  <div class="caption">
    <h1><span><%= @pilot.full_name %></span></h1>
  </div>
  <div class="driver-profile">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
        <figure class="cont-driver">
          <%= image_tag @pilot.complete_pic, style: "disply:block"  %>
        </figure>
      </div>
      <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="data-block">
              <div class="gral-data">
                <span><%= @pilot.age %> años.</span>
                <%= @pilot.city %>
              </div>
              <div class="tc-data clearfix">
                <span><%= @pilot.number %></span>
                <div class="logo divider">
                  <img class="lazy" data-original="/assets/logo_vw.png" src="/assets/logo_vw.png" style="display: inline;width:50px;">
                </div>
                <div class="model-car"><span> <%= @pilot.car %></span> </div>
                <div class="team"><span><%= @pilot.team %></span></div>
              </div>
              <div class="stats-current">
                <h3>Campeonato <%= !@actual_championship.year.nil? ? @actual_championship.year : "-" %></h3>
                <ul>
                  <% actual_data = @actual_championship.data_of_pilot_in_championship(@pilot.id) %>
                  <li><span>Posición</span><strong><%= actual_data[:pos] %></strong></li>
                  <li><span>Puntos</span><strong><%= actual_data[:score] %></strong></li>
                  <li><span>Asistencias</span><strong><%= actual_data[:assists] %></strong></li>
                  <li><span>Mejor resultado</span><strong><%= actual_data[:best_place] %></strong></li>
                </ul>
              </div><!-- /stats-current -->
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="data-block custom-pad">
              <div class="stats-past">
                <div class="hd clearfix">
                  <span>Sus números históricos</span>
                  <%= image_tag @pilot.helmet_pic, style: "disply:block"  %>
                  <div class="debut">
                    Debut <%= @category.name %>:
                    <% fr = @pilot.first_race(@category.id) %>
                    <% unless fr.nil? -%>
                      <span><%= l(fr.date, :format => :long)  %>, <%=  fr.city %></span>
                    <% end -%>
                  </div>
                </div>
                <ul>
                  <li><span>Campeonatos</span><strong><%= @pilot.count_champion(@category.id) %></strong></li>
                  <li><span>Carreras</span><strong><%= @pilot.count_races(@category.id) %></strong></li>
                  <li><span>Podios</span><strong><%= @pilot.podios(@category.id) %></strong></li>
                  <li><span>Victorias</span><strong><%= @pilot.all_win_races(@category.id) %></strong></li>
                  <li><span>Pole position</span><strong><%= @pilot.poles(@category.id) %></strong></li>
                </ul>
              </div><!-- /stats-past -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="car-details">
      <h3>El auto</h3>
      <div class="wrapper">
        <div class="row">
          <div class="car-img-cont">
            <figure class="auto">
              <% if @pilot.car_pic.file? %>
                <%= image_tag @pilot.car_pic, style: "disply:block"  %>
              <% else %>
                <% c = @pilot.car.split(" ") %>
                <%= image_tag "/assets/#{c.first}-#{c.second}-Default.png", style: "disply:block"  %>
              <% end -%>
            </figure>
          </div>
        </div>
      </div>
    </div><!-- /car-details -->
  </div><!-- /driver-profile -->

</div>

<script type="text/javascript">
    $('.fb-share-btn').on( 'click', function(e) {
    e.preventDefault();
    info = $('.fb-share-btn');
    FB.ui( {
      method: 'feed',
      name: info.data("name"),
      link: info.data("link"),
      picture: info.data("picture"),
      description: info.data("description"),
      caption: info.data("caption")
    },
    function( response ) {
      if ( response !== null && typeof response.post_id !== 'undefined' ) {
        console.log( response );
        // ajax call to save response
        $.post( 'http://www.saltoautomovilclub.herokuapp.com/', { 'meta': response }, function( result ) {
          console.log( result );
        }, 'json' );
      }
    });
  });
</script>