<div class="categories-pages">
  <h1>Pilotos Turismo Pista SAC</h1>
  <div class="pilot-container">
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
    <%= image_tag 'default_profile.jpg', width: 250, class: "pilot" %>
  </div>
</div>