<div class="categories-pages">
  <div class="breadcrumbs">
    <%= link_to "Categorias", categories_path() %> / <%= link_to @category.name ,category_path(@category) %> </a> / <%= link_to "Calendario" ,category_calendar_path(@category) %> /<a class="last-it"><%= @race.name %></a>
  </div>
  <% if @race.done == true %>
    <br>
    <%= render partial: "race_done" %>
  <% else %>
    <br>
    <%= render partial: "next_race" %>
  <% end -%>
</div>