<div class="categories-pages">
  <div class="breadcrumbs">
    <%= link_to "Categorias", categories_path() %> / <%= link_to @category.name ,category_path(@category) %> </a> / <%= link_to "Calendario" ,category_calendar_path(@category) %> /<a class="last-it"><%= @race.name %></a>
  </div>
  <%= link_to("#", class: "fb-share-btn regulation-F-btn", :"data-name" => "Calendario #{@category.name} #{@actual_championship.year}",
                                            :"data-caption" => "",
                                            :"data-link" => request.original_url,
                                            :"data-picture" => asset_url(@category.logo.url(:medium)),
                                            :"data-description" => "Todos las fechas y circuitos de la categoría #{@category.name}" ) do %>
      <%= image_tag 'publicarlo-en-fb.png', class: "btn-share", width: 100 %>
  <% end -%>
  <% if @race.done == true %>
    <br>
    <%= render partial: "race_done" %>
  <% else %>
    <br>
    <%= render partial: "next_race" %>
  <% end -%>
</div>
<script type="text/javascript">
  $('.fb-share-btn').on( 'click', function(e) {
    e.preventDefault();
    info = $('.fb-share-btn');
    FB.ui( {
      method: 'feed',
      name: info.data("name"),
      link: info.data("link"),
      picture: info.data("picture"),
      description: info.data("description"),
      caption: info.data("caption")
    },
    function( response ) {
      if ( response !== null && typeof response.post_id !== 'undefined' ) {
        console.log( response );
        // ajax call to save response
        $.post( 'http://www.saltoautomovilclub.herokuapp.com/', { 'meta': response }, function( result ) {
          console.log( result );
        }, 'json' );
      }
    });
  });

</script>



