<div class="categories-pages">
  <h1>Reglamentos y Formularios Fórmula SAC</h1>
	<div class="links-container">
	 	<%= link_to "", :target => "_blank" do %>
	  	<div class="link-files" >
				<%= image_tag 'nano_image.png', height: 150 %>
				<p>Reglamento Fórmula SAC 2014</p>
			</div>
		<% end -%>

		<%= link_to "/REGLAMENTO_DEPORTIVO_NACIONAL.pdf", :target => "_blank" do %>
	  	<div class="link-files" >
				<%= image_tag 'rdn_prew.png', height: 150 %>
				<p>Reglamento Deportivo Nacional</p>
			</div>
		<% end -%>

		<%= link_to "/CÓDIGO_DEPORTIVO_INTERNACIONAL.pdf", :target => "_blank" do %>
	  	<div class="link-files" >
				<%= image_tag 'cdi_prew.png', height: 150 %>
				<p>Código Deportivo Nacional (CDI)</p>
			</div>
		<% end -%>

		<%= link_to "/Solicitud_Licencia_Piloto_2014.pdf", :target => "_blank" do %>
	  	<div class="link-files" >
				<%= image_tag 'sdlp_prew.png', height: 150 %>
				<p>Solicitud Licencia Piloto 2014</p>
			</div>
		<% end -%>

			<%= link_to "/FORMULARIO_ELEMENTOS_DE_SEGURIDAD_PERSONAL.pdf", :target => "_blank" do %>
	  	<div class="link-files" >
				<%= image_tag 'fedsp_prew.png', height: 150 %>
				<p>Formulario elementos de seguridad personal</p>
			</div>
		<% end -%>

			<%= link_to "/Solicitud_Licencia_Concurrente_2014.pdf", :target => "_blank" do %>
	  	<div class="link-files" >
				<%= image_tag 'sdlc_prew.png', height: 150 %>
				<p>Solicitud Licencia Concurrente 2014</p>
			</div>
		<% end -%>

		<%= link_to "/FORMULARIO_ELEMENTOS_DE_SEGURIDAD_VEHÍCULO.pdf", :target => "_blank" do %>
	  	<div class="link-files" >
				<%= image_tag 'fedsv_prew.png', height: 150 %>
				<p>Formulario elementos de seguridad del vehículo</p>
			</div>
		<% end -%>

		<%= link_to "/SEGURIDAD_EN_EL_AUTOMOVILISMO.pdf", :target => "_blank" do %>
	  	<div class="link-files" >
				<%= image_tag 'sea_prew.png', height: 150 %>
				<p>Seguridad en el automovilimso</p>
			</div>
		<% end -%>
	</div>
</div>