<div class="categories-pages2">
  <div class="championship-data">
    <div class="breadcrumbs">
      <%= link_to "Categorias", categories_path() %> / <%= link_to @category.name ,category_path(@category) %> / <a id="champ_text">Campeonatos</a> <p class="special-p">/</p> <a  class="last-it" id="champ_year"> <%= @championship.year %> </a>
    </div>
    <div id="full_data_championship">
      <div class="hd">
        <div class="row">
          <div class="col-lg-6 col-md-3 col-sm-9 col-xs-12">
            <div class="select-group">
              <select id="type_query" class="select-prp" tabindex="2" name="type_query">
                <option value="1">Campeonato</option>
                <option value="2">Puntos por Fecha</option>
              </select>
              <select id="year_query" class="select-prp" tabindex="1" name="year_query">
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
              </select>
              <input type="hidden" id="type_query_selected" value="1" />
              <input type="hidden" id="year_query_selected" value="2015" />
              <input type="hidden" id="category" value= <%=@championship.category.id %> />
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 divider">
            <div class="race-info">
              <span class="disputadas">Disputadas</span>
              <span class="num num-race"><%= @championship.race_done %> <em>/</em> <%= @championship.races.count %><span>
            </div>
            <div class="shre-social-cont">
              <%= link_to("#", class: "fb-share-btn regulation-F-btn", :"data-name" => "Campeonato #{@category.name} #{ @championship.year}",
                                            :"data-caption" => "",
                                            :"data-link" => request.original_url,
                                            :"data-picture" => asset_url(@category.logo.url(:medium)),
                                            :"data-description" => "Tabla del campeonato #{@category.name} #{ @championship.year} y estadisticas" ) do %>
                <%= image_tag 'cristalfacebook.png', class: "btn-share", width: 80 %>
              <% end -%>
            </div>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
            <a id="champ_year_btn" class="champion-for-year" href="#">
              <strong>Campeones por año</strong>
            </a>
          </div>
        </div>
      </div>
      <div id="two_details">
        <div class="table-responsive generic-tbl championship-tbl main-table">
          <table class="table2" id="table-hidden-content">
            <thead>
              <tr>
                <th> POS.      </th>
                <th> NÚMERO    </th>
                <th> PILOTO    </th>
                <th> LOCALIDAD </th>
               <!-- <th> EQUIPO    </th> -->
                <th> AUTO      </th>
                <th>           </th>
                <th> PTOS.    </th>
              </tr>
            </thead>
            <tbody>
              <% @championship.championship_data.each_with_index do |result, i|%>
                <tr bgcolor="">
                  <td class="pos"><%= i + 1 %><span>°</span></td>
                  <td><%= result.number %></td>
                  <td class="piloto first">
                    <%= link_to "#{result.last_name}, #{result.first_name} ",pilot_path(@category.id, result.pilot_id) %>
                  </td>
                  <td> <%= result.city %>      </td>
                <!--  <td> <%= result.team %>      </td> -->
                  <td> <%= result.car %>       </td>
                  <td class="copas">
                    <% races_win = Pilot.win_races(@championship.id, result.pilot_id) %>
                    <% if races_win > 0 %>
                      <em></em>
                        <%= races_win %>
                    <% end -%>
                  </td>
                  <td class="pts"> <%= result.score %> </td>
                </tr>
              <% end -%>
            </tbody>
          </table>
        </div><!-- /tabla campeonato -->
        <div id="detail_races">
          <p style="color:#e52b2b;font-size:33px;text-align:center;" >DETALLE FECHAS-SERIES </p>
          <div class="panel-group" id="accordion">
            <% @championship.races.each_with_index do |race, i|%>
              <div class="panel panel-default no-bkg">
                <div class="panel-blk panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=i%>">
                      <%= "Fecha N°#{i+1} - #{race.date} - #{race.city} - #{race.name} " %>
                    </a>
                  </h4>
                </div>
                 <div id="collapse<%=i%>" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="table-responsive generic-tbl championship-tbl panels-table">
                      <table class="table2" id="table-hidden-content">
                        <thead>
                          <tr>
                            <th > POS.   </th>
                            <th> NÚMERO </th>
                            <th> PILOTO </th>
                            <th> TIEMPO </th>
                            <th> PUNTOS </th>
                          </tr>
                        </thead>
                        <tbody>
                          <% race.steps.each do |step|%>
                            <tr><td style="text-align:center;color:#fff;background:#aaa;" colspan="5"><%= step.name %></td></tr>
                            <% step.pilot_steps.each do |ps|%>
                              <tr bgcolor="">
                                <td class="pos"><%= ps.position %><span>°</span></td>
                                <td><%= ps.pilot_race.number %></td>
                                <td class="piloto first">
                                   <%= link_to "#{ ps.pilot_race.pilot } ", pilot_path(@category.id, ps.pilot_race.pilot.id) %>
                                  <a href="#">  </a>
                                </td>
                                <td> <%= ps.time %>      </td>
                                <td class="pts"> <%= ps.score %> </td>
                              </tr>
                            <% end -%>
                            <% unless step.observation.blank? %>
                              <tr><td style="color:#e52b2b;font-size:20px;" colspan="5">OBS: <%= step.observation %></td></tr>
                            <% end -%>
                          <% end -%>
                        </tbody>
                      </table>
                    </div>
                    <div class="table-responsive generic-tbl championship-tbl panels-table final-table">
                      <p style="color:#e52b2b;font-size:33px;text-align:center;" >Clasificación Final</p>
                      <table class="table2" id="table-hidden-content">
                        <thead>
                          <tr>
                            <th style="text-align:center" > POS.      </th>
                            <th style="text-align:center" > NÚMERO    </th>
                            <th style="text-align:center" > PILOTO    </th>
                            <% race.steps.each do |step|%>
                              <th style="text-align:center" ><%= step.name %></th>
                            <% end -%>
                            <th style="text-align:center" > PTOS.    </th>
                          </tr>
                        </thead>
                        <tbody>
                          <% race.race_results.each do |race_result| %>
                            <tr bgcolor="">
                              <td class="pos" style="text-align:center"><%= race_result.position %><span>°</span></td>
                              <td style="text-align:center"><%= race_result.pilot_race.number %></td>
                              <td class="piloto first" >
                                <%= link_to "#{ race_result.pilot_race.pilot } ", pilot_path(@category.id, race_result.pilot_race.pilot.id) %>
                              </td>
                              <% race.steps.each do |step|%>
                                <% pist = step.pilot_steps.where(pilot_race_id: race_result.pilot_race.id).first %>
                                <% unless pist.blank? %>
                                  <td style="text-align:center"><%= pist.score %></td>
                                <% else %>
                                  <td style="text-align:center" > 0 </td>
                                <% end -%>
                              <% end -%>
                              <td class="pts" style="text-align:center" > <%= race_result.score %> </td>
                            </tr>
                          <% end -%>
                        </tbody>
                        <% unless race.observation.blank? %>
                          <tr><td style="color:#e52b2b;font-size:20px;" colspan="7">OBS: <%= race.observation %></td></tr>
                        <% end -%>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            <% end -%>
          </div>
        </div><!-- fin dtails ravces -->
      </div><!-- fin two details -->
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $("#type_query").selectbox({
      onChange: function (val, inst) {
        var year = val;
        $("#type_query_selected").val(val);
        $.ajax({
          type: "GET",
          data: {type: val, year: $("#year_query_selected").val(), category_id: $("#category").val() },
          url: "/championship_query",
          success: function (data) {
            $("#two_details").html(data);
            $(".num-race").html($("#race_done").val()+ " <em>/</em> " + $("#races_count").val() + "<span></span>");
          }
        });
      },
      effect: "slide"
    });

    $("#year_query").selectbox({
      onChange: function (val, inst) {
        var year = val;
        $("#year_query_selected").val(year);
        $.ajax({
          type: "GET",
          data: {year: year, type: $("#type_query_selected").val(), category_id: $("#category").val() },
          url: "/championship_query",
          success: function (data) {
            $("#two_details").html(data);
            $("#champ_year").text(year);
            $(".num-race").html($("#race_done").val()+ " <em>/</em> " + $("#races_count").val() + "<span></span>");
          }
        });
      },
      effect: "slide"
    });

    $("#champ_year_btn").click(function(e) {
      e.preventDefault();
      $.ajax({
        type: "GET",
        data: { category_id: $("#category").val() },
        url: "/championship_by_year",
        success: function (data) {
          $("#champ_text").remove();
          $("#champ_year").text("Campeones por año");
          $(".special-p").remove();

          //$(".breadcrumbs").html("<a>TPS</a> / <a>Campeones por año </a> ");
          $("#full_data_championship").html(data);
          $("#detail_races").remove();
        }
      });
    });

    $('.fb-share-btn').on( 'click', function(e) {
      e.preventDefault();
      info = $('.fb-share-btn');
      FB.ui( {
        method: 'feed',
        name: info.data("name"),
        link: info.data("link"),
        picture: info.data("picture"),
        description: info.data("description"),
        caption: info.data("caption")
      },
      function( response ) {
        if ( response !== null && typeof response.post_id !== 'undefined' ) {
          console.log( response );
          // ajax call to save response
          $.post( 'http://www.saltoautomovilclub.herokuapp.com/', { 'meta': response }, function( result ) {
            console.log( result );
          }, 'json' );
        }
      });
    });

  });
</script>