<div class="categories-pages">
	<div class="breadcrumbs">
    <%= link_to "Categorias", categories_path() %> /  <a class="last-it" > <%= @category.name %> </a>
  </div>
	<div class="page-title">
		<h1> <%= @category.name %> </h1>
		<%= link_to("#", class: "fb-share-btn", :"data-name" => @category.name,
		                                        :"data-caption" => "",
		                                        :"data-link" => request.original_url,
		                                        :"data-picture" => asset_url(@category.logo.url(:medium)),
		                                        :"data-description" => truncate(@category.description, length: 544) ) do %>
      <%= image_tag 'publicarlo-en-fb.png', class: "btn-share", width: 100 %>
    <% end -%>
	</div>
	<p> <%= @category.description %> </p>
	<div class="links">
    <div class="categories-links">
      <%= link_to category_calendar_path(@category) do %>
        <strong>CALENDARIO</strong>
      <% end -%>
    </div>
    <div class="categories-links">
      <%= link_to category_championships_path(@category) do %>
        <strong>CAMPEONATOS</strong>
      <% end -%>
    </div>
    <div class="categories-links">
      <%= link_to category_pilots_path(@category) do %>
        <strong>PILOTOS</strong>
      <% end -%>
    </div>
    <div class="categories-links">
      <%= link_to circuits_path(@category) do %>
        <strong>CIRCUITOS</strong>
      <% end -%>
    </div>
    <div class="categories-links">
      <%= link_to category_regulation_path(@category) do %>
        <strong>REGLAMENTOS</strong>
      <% end -%>
    </div>
    <div class="categories-links">
      <%= link_to category_gallery_path(@category) do %>
        <strong>MULTIMEDIA</strong>
      <% end -%>
    </div>
	</div>
</div>

<script type="text/javascript">
    $('.fb-share-btn').on( 'click', function(e) {
    e.preventDefault();
    info = $('.fb-share-btn');
    FB.ui( {
      method: 'feed',
      name: info.data("name"),
      link: info.data("link"),
      picture: info.data("picture"),
      description: info.data("description"),
      caption: info.data("caption")
    },
    function( response ) {
      if ( response !== null && typeof response.post_id !== 'undefined' ) {
        console.log( response );
        // ajax call to save response
        $.post( 'http://www.saltoautomovilclub.herokuapp.com/', { 'meta': response }, function( result ) {
          console.log( result );
        }, 'json' );
      }
    });
  });
</script>
