<div class="categories-pages">
  <div class="breadcrumbs">
    <%= link_to "Categorias", categories_path() %> / <%= link_to @category.name ,category_path(@category) %> / <a class="last-it">Pilotos</a>
  </div>
  <%= link_to("#", class: "fb-share-btn pilots-F-btn", :"data-name" => "Pilotos #{@category.name}",
                                            :"data-caption" => "",
                                            :"data-link" => request.original_url,
                                            :"data-picture" => asset_url(@category.logo.url(:medium)),
                                            :"data-description" => "Lista de los pilotos de #{@category.name}") do %>
      <%= image_tag 'publicarlo-en-fb.png', class: "btn-share", width: 100 %>
    <% end -%>
  <div class="pilots-container">
    <% @pilots.each do |pilot| %>
      <div class="pilot-module">
        <%= link_to pilot_path(@category.id, pilot.id), class: "links-to-pilot" do %>
          <figure class="fig-pilot">
            <%= image_tag pilot.avatar  %>
          </figure>

          <div class="data-pilot">
            <div class="car-data">
              <span><%= pilot.number %></span>
              <h2> <%= pilot.last_name %>,<br> <%= pilot.first_name %> </h2>
            </div>
            <div class="info-pilot-img">
              <% if @category.id == 2 %>
                <%= image_tag 'cg_logo.png', class: "", width: 47 %>
              <% else %>
                <%= image_tag 'logo_vw.png', class: "", width: 47 %>
              <% end -%>
              <div class="team">
                <% if @category.id == 2 %>
                  Kart 125cc
                <% else %>
                  <% if @category.id == 3 %>
                    <%= "Fórmula VW" %>
                  <% else -%>
                    <%= pilot.car %>
                  <% end -%>
                <% end -%>
              </div>
              <div class="team">
                <%= pilot.team %>
              </div>
              <div class="team">
                <%= pilot.city %>
              </div>
            </div>
          </div>
        <% end -%>
      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
    $('.fb-share-btn').on( 'click', function(e) {
    e.preventDefault();
    info = $('.fb-share-btn');
    FB.ui( {
      method: 'feed',
      name: info.data("name"),
      link: info.data("link"),
      picture: info.data("picture"),
      description: info.data("description"),
      caption: info.data("caption")
    },
    function( response ) {
      if ( response !== null && typeof response.post_id !== 'undefined' ) {
        console.log( response );
        // ajax call to save response
        $.post( 'http://www.saltoautomovilclub.herokuapp.com/', { 'meta': response }, function( result ) {
          console.log( result );
        }, 'json' );
      }
    });
  });
</script>