<div class="categories-pages">
  <div class="breadcrumbs">
    <a><%= @category.name %></a> / <a id="champ_type"> Pilotos</a>
  </div>
  <div class="pilots-container">
    <% @pilots.each do |pilot| %>
      <div class="pilot-module">
        <%= link_to pilot_path(@category.id, pilot.id), class: "links-to-pilot" do %>
          <figure class="fig-pilot">
            <%= image_tag pilot.avatar, width: 250  %>
          </figure>
          <div class="data-pilot">
            <h2> <%= pilot.last_name %>,<br> <%= pilot.first_name %> </h2>
            <div class="car-data">
              <span><%= pilot.number %></span>
              <div class="logo">
                <%= image_tag 'logo_vw.png', class: "", width: 40 %>
              </div>
              <div class="team">
                <%= pilot.car %>
              </div>
              <div class="team">
                <%= pilot.team %>
              </div>
              <div class="team">
                <%= pilot.city %>
              </div>
            </div>
          </div>
        <% end -%>
      </div>
    <% end %>
  </div>
</div>