<div class="categories-pages">
  <div class="breadcrumbs">
    <%= link_to "Categorias", categories_path() %> / <%= link_to @category.name ,category_path(@category) %> </a> / <a class="last-it  <%="#{@category.short_name}-color"%>">Calendario</a>
  </div>
  <%= link_to("#", class: "fb-share-btn regulation-F-btn", :"data-name" => "Calendario #{@category.name} #{@actual_championship.year}",
                                            :"data-caption" => "",
                                            :"data-link" => request.original_url,
                                            :"data-picture" => asset_url(@category.logo.url(:medium)),
                                            :"data-description" => "Todos las fechas y circuitos de la categoría #{@category.name}" ) do %>
      <%= image_tag 'publicarlo-en-fb.png', class: "btn-share", width: 100 %>
  <% end -%>

  <div class="calendar">
    <ul class="row circuit-list">
      <% @races.each do |race| %>
        <li class="col-sm-4 col-xs-12 link-to-circuit" style="width:32%;">
          <div class="info-circuit info-circuit2 <%= "#{@category.short_name}-color"%>">
            <div class="date"><span><%= race.date.day %></span><%= I18n.t("date.month_names")[race.date.month] %></div>
            <div class="hd <%= "#{@category.short_name}-color"%>">
              <h2><%= race.circuit.name %></h2>
              <p><%= race.circuit.location %></p>
            </div>
            <figure class="cont-circuit">
              <%= image_tag race.circuit.logo, width: 260  %>
            </figure>
            <% if race.done == true %>
              <ul class="pos">
                <li><span>1°</span><%= link_to race.race_results[0].pilot.full_name , pilot_path(@category.id, race.race_results[0].pilot_id ) %></li>
                <li><span>2°</span><%= link_to race.race_results[1].pilot.full_name , pilot_path(@category.id, race.race_results[1].pilot_id ) %></li>
                <li><span>3°</span><%= link_to race.race_results[2].pilot.full_name , pilot_path(@category.id, race.race_results[2].pilot_id ) %></li>
              </ul>
              <%= link_to "Ver más", race_path(@category.id,race.id), class: "more-txt" %>
            <% else %>
              <% if race == @actual_championship.next_race %>
                <div class="nav-race">
                  <%= link_to "El circuito", show_circuit_path(@category.id, race.circuit.id), class: "btn-small  #{@category.short_name}-color" %>
                  <% unless @actual_championship.next_race.race_previus.nil? %>
                    <%= link_to "Previa", race_path(@category.id,race.id), class: "btn-small  #{@category.short_name}-color" %>
                  <% end -%>
                </div>
                <input type="hidden" id="day_count2"   value= <%=@actual_championship.next_race.date.day    %> />
                <input type="hidden" id="month_count2" value= <%=@actual_championship.next_race.date.strftime('%B') %> />
                <input type="hidden" id="year_count2"  value= <%=@actual_championship.next_race.date.year   %> />
                <div class="countdown lite clearfix" id="countboxlite">
                  <div class="cont-num">
                    <div class="num days" id="days">0</div>
                    <span>Días</span>
                  </div>
                  <div class="cont-num">
                    <div class="num hours" id="hours">0</div>
                    <span>Horas</span>
                  </div>
                  <div class="cont-num">
                    <div class="num minutes" id="mins">0</div>
                    <span>Minutos</span>
                  </div>
                  <div class="cont-num">
                    <div class="num seconds" id="secs">0</div>
                    <span>Segundos</span>
                  </div>
                </div>
              <% else %>
                <div class="nav-race">
                  <%= link_to "circuito", show_circuit_path(@category.id, race.circuit.id), class: "btn-small #{@category.short_name}-color" %>
                </div>
              <% end -%>
            <% end -%>
          </div>
        </li>
      <% end -%>
    </ul>
    <div class="clearfix visible-lg visible-md"></div>
  </div>
</div>

<script type="text/javascript">

  $('.fb-share-btn').on( 'click', function(e) {
    e.preventDefault();
    info = $('.fb-share-btn');
    FB.ui( {
      method: 'feed',
      name: info.data("name"),
      link: info.data("link"),
      picture: info.data("picture"),
      description: info.data("description"),
      caption: info.data("caption")
    },
    function( response ) {
      if ( response !== null && typeof response.post_id !== 'undefined' ) {
        console.log( response );
        // ajax call to save response
        $.post( 'http://www.saltoautomovilclub.herokuapp.com/', { 'meta': response }, function( result ) {
          console.log( result );
        }, 'json' );
      }
    });
  });

  $("#countboxlite").countdown({
    date:  $("#day_count2").val() +" "+$("#month_count2").val()+" "+$("#year_count2").val()+" "+"09:00:00",
    format: "on"
  });

</script>


<style type="text/css">

  .btn-small {
    background-color: #e55151;
    color: #fff;
    font-family: "bebasneue_regular";
    font-size: 20px;
    padding: 5px 8px 3px;
    text-decoration: none!important;
    text-transform: none;
    transition: none 0s ease 0s ;
  }

  .hd.TPS-color h2 {
    color: #d90000;
  }
  .hd.FSAC-color h2 {
    color: #ff5c26;
  }
  .hd.K125-color h2 {
    color: #ffbf00;
  }

  .info-circuit.TPS-color:hover {
    border: 1px solid #d90000;
  }
  .info-circuit.FSAC-color:hover {
    border: 1px solid #ff5c26;
  }
  .info-circuit.K125-color:hover {
    border: 1px solid #ffbf00;
  }

  .calendar .info-circuit.TPS-color .pos > li > span {
    color: #d90000;
  }
  .calendar .info-circuit.FSAC-color .pos > li > span {
    color: #ff5c26;
  }
  .calendar .info-circuit.K125-color .pos > li > span {
    color: #ffbf00;
  }

  .calendar .info-circuit.TPS-color .more-txt {
    background-color: #d90000;
    color:#fff;
  }
  .calendar .info-circuit.FSAC-color .more-txt {
    background-color: #ff5c26;
    color:#fff;
  }
  .calendar .info-circuit.K125-color .more-txt {
    background-color: #ffbf00;
    color:#fff;
  }

  .calendar .info-circuit.TPS-color .btn-small {
    background-color: #d90000;
    color:#fff;
  }
  .calendar .info-circuit.FSAC-color .btn-small {
    background-color: #ff5c26;
    color:#fff;
  }
  .calendar .info-circuit.K125-color .btn-small {
    background-color: #ffbf00;
    color:#fff;
  }

  .calendar .info-circuit.TPS-color .more-txt:hover {
    background-color:#555;
  }
  .calendar .info-circuit.FSAC-color .more-txt:hover {
    background-color:#555;
  }
  .calendar .info-circuit.K125-color .more-txt:hover {
    background-color:#555;
  }

  .calendar .info-circuit.TPS-color .btn-small:hover {
    background-color:#555;
  }
  .calendar .info-circuit.FSAC-color .btn-small:hover {
    background-color:#555;
  }
  .calendar .info-circuit.K125-color .btn-small:hover {
    background-color:#555;
  }

</style>
