<div class="categories-pages2">
  <div class="championship-data">
    <div class="breadcrumbs">
      <%= link_to "Categorias", categories_path() %> / <%= link_to @category.name ,category_path(@category) %> / <a id="champ_text">Campeonatos</a> <p class="special-p">/</p> <a  class="last-it <%="#{@category.short_name}-color"%>" id="champ_year"> <%= @championship.year %> </a>
    </div>
    <div id="full_data_championship">
      <div class="hd">
        <div class="row">
          <div class="col-lg-6 col-md-3 col-sm-9 col-xs-12">
            <div class="select-group <%="#{@category.short_name}-color"%>">
              <select id="type_query" class="select-prp" tabindex="2" name="type_query">
                <option value="1">Campeonato</option>
                <option value="2">Puntos por Fecha</option>
              </select>
              <select id="year_query" class="select-prp" tabindex="1" name="year_query">
                <% @category.championships.map{|y| y.year}.uniq.each do |ch| %>
                  <option value="<%= ch %>"><%= ch %></option>
                <% end -%>
              </select>
              <% if @category.id == 2 %>
                <select id="sub_category_query" class="select-prp" tabindex="1" name="sub_category_query">
                  <option value="Super A"> Súper A</option>
                  <option value="A"> A </option>
                </select>
                <script type="text/javascript">
                  $("#sub_category_query").selectbox({
                    onChange: function (val, inst) {
                      var sub_category = val;
                      var year = $("#year_query_selected").val();
                      $("#sub_category_query_selected").val(sub_category);
                      $.ajax({
                        type: "GET",
                        data: {year: year, type: $("#type_query_selected").val(), category_id: $("#category").val(), sub_category: sub_category },
                        url: "/championship_query",
                        success: function (data) {
                          $("#two_details").html(data);
                        }
                      });
                    },
                    effect: "slide"
                  });
                </script>
              <% end -%>
              <input type="hidden" id="sub_category_query_selected" value="Super A" />
              <input type="hidden" id="type_query_selected" value="1" />
              <input type="hidden" id="year_query_selected" value="<%= @category.championships.first.year %>" />
              <input type="hidden" id="category" value= <%=@championship.category.id %> />
            </div>
          </div>

          <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 divider">
            <div class="race-info">
              <span class="disputadas">Disputadas</span>
              <span class="num num-race"><%= @championship.race_done %> <em>/</em> <%= @championship.races.count %><span>
            </div>
            <div class="shre-social-cont">
              <%= link_to("#", class: "fb-share-btn regulation-F-btn", :"data-name" => "Campeonato #{@category.name} #{ @championship.year}",
                                            :"data-caption" => "",
                                            :"data-link" => request.original_url,
                                            :"data-picture" => asset_url(@category.logo.url(:medium)),
                                            :"data-description" => "Tabla del campeonato #{@category.name} #{ @championship.year} y estadisticas" ) do %>
                <%= image_tag 'cristalfacebook.png', class: "btn-share", width: 80 %>
              <% end -%>
            </div>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
            <a id="champ_year_btn" class="champion-for-year  <%="#{@category.short_name}-color"%> " href="#">
              <strong>Campeones por año</strong>
            </a>
          </div>
        </div>
      </div>
      <div id="two_details">
        <div class="table-responsive generic-tbl championship-tbl main-table <%="#{@category.short_name}-color"%>">
          <table class="table2" id="table-hidden-content">
            <thead>
              <tr>
                <th> POS.      </th>
                <th> NÚMERO    </th>
                <th> PILOTO    </th>
                <th> LOCALIDAD </th>
               <!-- <th> EQUIPO    </th> -->
                <th> AUTO      </th>
                <th>           </th>
                <th> PTOS.    </th>
              </tr>
            </thead>
            <tbody>
              <% Championship.championship_data(@championship.id).each_with_index do |result, i|%>
                <tr bgcolor="">
                  <td class="pos"><%= i + 1 %><span>°</span></td>
                  <td><%= Pilot.pilot_number_about_pilot_id(result.pilot_id, @championship.id) %></td>
                  <td class="piloto first">
                    <%= link_to "#{result.last_name}, #{result.first_name} ",pilot_path(@category.id, result.pilot_id) %>
                  </td>
                  <td> <%= result.city %>      </td>
                  <% if @championship.category.id == 2 %>
                    <td> Kart 125cc </td>
                  <% else %>
                    <% if @championship.category.id == 3 %>
                      <td> Fórmula VW </td>
                    <% else %>
                      <td> <%= result.car %> </td>
                    <% end %>
                  <% end -%>
                  <td class="copas">
                    <% races_win = Pilot.win_races(@championship.id, result.pilot_id) %>
                    <% if races_win > 0 %>
                      <em></em>
                        <%= races_win %>
                    <% end -%>
                  </td>
                  <td class="pts"> <%= result.score %> </td>
                </tr>
              <% end -%>
            </tbody>
          </table>
        </div><!-- /tabla campeonato -->
        <div id="detail_races">
          <p class="det-fech-ser <%="#{@category.short_name}-color"%>" >DETALLE FECHAS-SERIES </p>
          <div class="panel-group" id="accordion">
            <% @championship.races.each_with_index do |race, i|%>
              <div class="panel panel-default no-bkg">
                <div class="panel-blk panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%=i%>">
                      <%= "Fecha N°#{i+1} - #{race.date} - #{race.city} - #{race.name} " %>
                    </a>
                  </h4>
                </div>
                 <div id="collapse<%=i%>" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="table-responsive generic-tbl championship-tbl panels-table <%="#{@category.short_name}-color"%>">
                      <table class="table2" id="table-hidden-content">
                        <thead>
                          <tr>
                            <th > POS.   </th>
                            <th> NÚMERO </th>
                            <th> PILOTO </th>
                            <th> TIEMPO </th>
                            <th> PUNTOS </th>
                          </tr>
                        </thead>
                        <tbody>
                          <% race.steps.each do |step|%>
                            <tr><td style="text-align:center;color:#fff;background:#aaa;" colspan="5"><%= step.name %></td></tr>
                            <% step.pilot_steps.each do |ps|%>
                              <tr bgcolor="">
                                <td class="pos"><%= ps.position %><span>°</span></td>
                                <td><%= ps.pilot_race.number %></td>
                                <td class="piloto first">
                                   <%= link_to "#{ ps.pilot_race.pilot } ", pilot_path(@category.id, ps.pilot_race.pilot.id) %>
                                  <a href="#">  </a>
                                </td>
                                <td> <%= ps.time %>      </td>
                                <td class="pts"> <%= ps.score %> </td>
                              </tr>
                            <% end -%>
                            <% unless step.observation.blank? %>
                              <tr><td style="color:#e52b2b;font-size:20px;" colspan="5">OBS: <%= step.observation %></td></tr>
                            <% end -%>
                          <% end -%>
                        </tbody>
                      </table>
                    </div>
                    <div class="table-responsive generic-tbl championship-tbl panels-table final-table <%="#{@category.short_name}-color"%>">
                      <p class="clas-fin-title <%="#{@championship.category.short_name}-color"%>" >Clasificación Final</p>
                      <table class="table2" id="table-hidden-content">
                        <thead>
                          <tr>
                            <th style="text-align:center" > POS.      </th>
                            <th style="text-align:center" > NÚMERO    </th>
                            <th style="text-align:center" > PILOTO    </th>
                            <% race.steps.each do |step|%>
                              <th style="text-align:center" ><%= step.name %></th>
                            <% end -%>
                            <th style="text-align:center" > PTOS.    </th>
                          </tr>
                        </thead>
                        <tbody>
                          <% race.race_results.each do |race_result| %>
                            <tr bgcolor="">
                              <td class="pos" style="text-align:center"><%= race_result.position %><span>°</span></td>
                              <td style="text-align:center"><%= race_result.pilot_race.number %></td>
                              <td class="piloto first" >
                                <%= link_to "#{ race_result.pilot_race.pilot } ", pilot_path(@category.id, race_result.pilot_race.pilot.id) %>
                              </td>
                              <% race.steps.each do |step|%>
                                <% pist = step.pilot_steps.where(pilot_race_id: race_result.pilot_race.id).first %>
                                <% unless pist.blank? %>
                                  <td style="text-align:center"><%= pist.score %></td>
                                <% else %>
                                  <td style="text-align:center" > 0 </td>
                                <% end -%>
                              <% end -%>
                              <td class="pts" style="text-align:center" > <%= race_result.score %> </td>
                            </tr>
                          <% end -%>
                        </tbody>
                        <% unless race.observation.blank? %>
                          <tr><td style="color:#e52b2b;font-size:20px;" colspan="7">OBS: <%= race.observation %></td></tr>
                        <% end -%>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            <% end -%>
          </div>
        </div><!-- fin dtails ravces -->
      </div><!-- fin two details -->
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function() {
    $("#type_query").selectbox({
      onChange: function (val, inst) {
        var year = val;
        $("#type_query_selected").val(val);
        $.ajax({
          type: "GET",
          data: {type: val, year: $("#year_query_selected").val(), category_id: $("#category").val() },
          url: "/championship_query",
          success: function (data) {
            $("#two_details").html(data);
            $(".num-race").html($("#race_done").val()+ " <em>/</em> " + $("#races_count").val() + "<span></span>");
          }
        });
      },
      effect: "slide"
    });

    $("#year_query").selectbox({
      onChange: function (val, inst) {
        var year = val;
        if(year < "2015") {
          $("#sub_category_query").selectbox("disable");
        }else{
          $("#sub_category_query").selectbox("enable");
        }
        $("#year_query_selected").val(year);
        $.ajax({
          type: "GET",
          data: {year: year, type: $("#type_query_selected").val(), category_id: $("#category").val() },
          url: "/championship_query",
          success: function (data) {
            $("#two_details").html(data);
            $("#champ_year").text(year);
            $(".num-race").html($("#race_done").val()+ " <em>/</em> " + $("#races_count").val() + "<span></span>");
          }
        });
      },
      effect: "slide"
    });

    $("#champ_year_btn").click(function(e) {
      e.preventDefault();
      $.ajax({
        type: "GET",
        data: { category_id: $("#category").val() },
        url: "/championship_by_year",
        success: function (data) {
          $("#champ_text").remove();
          $("#champ_year").text("Campeones por año");
          $(".special-p").remove();

          //$(".breadcrumbs").html("<a>TPS</a> / <a>Campeones por año </a> ");
          $("#full_data_championship").html(data);
          $("#detail_races").remove();
        }
      });
    });

    $('.fb-share-btn').on( 'click', function(e) {
      e.preventDefault();
      info = $('.fb-share-btn');
      FB.ui( {
        method: 'feed',
        name: info.data("name"),
        link: info.data("link"),
        picture: info.data("picture"),
        description: info.data("description"),
        caption: info.data("caption")
      },
      function( response ) {
        if ( response !== null && typeof response.post_id !== 'undefined' ) {
          console.log( response );
          // ajax call to save response
          $.post( 'http://www.saltoautomovilclub.herokuapp.com/', { 'meta': response }, function( result ) {
            console.log( result );
          }, 'json' );
        }
      });
    });

  });
</script>

<style type="text/css">

  .breadcrumbs .last-it.TPS-color {
    color: #d90000;
  }
  .breadcrumbs .last-it.FSAC-color {
    color: #ff5c26;
  }
  .breadcrumbs .last-it.K125-color {
    color: #ffbf00;
  }

  a.champion-for-year.TPS-color {
    background-color: #d90000;
    border: 1px solid #d90000;
  }
  a.champion-for-year.FSAC-color {
    background-color: #ff5c26;
    border: 1px solid #ff5c26;
  }
  a.champion-for-year.K125-color {
    background-color: #ffbf00;
    border: 1px solid #ffbf00;
  }

  a.champion-for-year.TPS-color:hover {
    background-color: white;
    border: 1px solid #d90000;
    color: #d90000 !important;
  }
  a.champion-for-year.FSAC-color:hover {
    background-color: white;
    border: 1px solid #ff5c26;
    color: #ff5c26 !important;
  }
  a.champion-for-year.K125-color:hover {
    background-color: white;
    border: 1px solid #ffbf00;
    color: #ffbf00 !important;
  }

  .select-group.TPS-color .sbToggle:hover {
    background: rgba(0, 0, 0, 0) url("/assets/sprites-iconos.png") no-repeat scroll 0 -1735px;
  }

  .select-group.FSAC-color .sbToggle:hover {
    background: rgba(0, 0, 0, 0) url("/assets/sprites-iconos.png") no-repeat scroll -64px -1735px;
  }

  .select-group.K125-color .sbToggle:hover {
    background: rgba(0, 0, 0, 0) url("/assets/sprites-iconos.png") no-repeat scroll -189px -1735px;
  }

  .select-group.TPS-color .sbToggleOpen:hover {
    background: rgba(0, 0, 0, 0) url("/assets/sprites-iconos.png") no-repeat scroll 0 -1802px;
  }
  .select-group.FSAC-color .sbToggleOpen:hover {
    background: rgba(0, 0, 0, 0) url("/assets/sprites-iconos.png") no-repeat scroll -64px -1802px;
  }
  .select-group.K125-color .sbToggleOpen:hover {
    background: rgba(0, 0, 0, 0) url("/assets/sprites-iconos.png") no-repeat scroll -189px -1802px;
  }


  .select-group.TPS-color .sbOptions a:hover, .select-group.TPS-color .sbOptions a:focus, .select-group.TPS-color.sbOptions a.sbFocus {
    color: #e55151 !important;
  }
  .select-group.FSAC-color .sbOptions a:hover, .select-group.FSAC-color .sbOptions a:focus, .select-group.FSAC-color .sbOptions a.sbFocus {
    color: #ff5c26 !important;
  }
  .select-group.K125-color .sbOptions a:hover, .select-group.K125-color .sbOptions a:focus, .select-group.K125-color .sbOptions a.sbFocus {
    color: #ffbf00 !important;
  }

  .generic-tbl.TPS-color .pts {
    background: rgba(0, 0, 0, 0) url("/assets/sprites-buttons.png") no-repeat scroll 0 -921px;
  }
  .generic-tbl.FSAC-color .pts {
    background: rgba(0, 0, 0, 0) url("/assets/sprites-buttons.png") no-repeat scroll 0 -1681px;
  }
  .generic-tbl.K125-color .pts {
    background: rgba(0, 0, 0, 0) url("/assets/sprites-buttons.png") no-repeat scroll 0 -3221px;
  }

  .generic-tbl.TPS-color .copas {
    color: #d90000!important;
  }
  .generic-tbl.FSAC-color .copas {
    color: #ff5c26!important;
  }
  .generic-tbl.K125-color .copas {
    color: #ffbf00!important;
  }

  .clas-fin-title.TPS-color {
    color: #d90000;
    font-size:33px;
    text-align:center;
  }
  .clas-fin-title.FSAC-color {
    color: #ff5c26;
    font-size:33px;
    text-align:center;
  }
  .clas-fin-title.K125-color {
    color: #ffbf00;
    font-size:33px;
    text-align:center;
  }

  .breakdown.TPS-color > div strong {
    color: #d90000;
  }
  .breakdown.FSAC-color > div strong {
    color: #ff5c26;
  }
  .breakdown.K125-color > div strong {
    color: #ffbf00;
  }

  .det-fech-ser.TPS-color {
    color: #d90000;
    font-size:33px;
    text-align:center;
  }
  .det-fech-ser.FSAC-color {
    color: #ff5c26;
    font-size:33px;
    text-align:center;
  }
  .det-fech-ser.K125-color {
    color: #ffbf00;
    font-size:33px;
    text-align:center;
  }

  a.champion-for-year.TPS-color {
    background-color: #d90000;
    border: 1px solid #d90000;
  }
  a.champion-for-year.FSAC-color {
    background-color: #ff5c26;
    border: 1px solid #ff5c26;
  }
  a.champion-for-year.K125-color {
    background-color: #ffbf00;
    border: 1px solid #ffbf00;
  }

  a.champion-for-year.TPS-color:hover {
    background-color: white;
    border: 1px solid #d90000;
    color: #d90000 !important;
  }
  a.champion-for-year.FSAC-color:hover {
    background-color: white;
    border: 1px solid #ff5c26;
    color: #ff5c26 !important;
  }
  a.champion-for-year.K125-color:hover {
    background-color: white;
    border: 1px solid #ffbf00;
    color: #ffbf00 !important;
  }

</style>
