<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <%= image_tag 'baner.png', height: 100 %>
      </div>
    </div>
    <div class="social">
		  <%= link_to "https://www.facebook.com/saltoautomovil.club",  :target => '_blank' do %>
		    <%= image_tag 'facebook.png', width: 60 %>
		  <% end -%>
		  <%= link_to "#" do %>
		    <%= image_tag 'twitter.png', width: 60 %>
		  <% end -%>
		  <%= link_to "#" do %>
		    <%= image_tag 'youtube.png', width: 60 %>
		  <% end -%>
		</div>
  </div>
</footer>